.header--dark {
	background-color: rgb(51, 57, 64);
	color: rgb(236, 236, 236);
}
.header__title {
	display: inline;
	font-size: 1.25em;
}

.header__search {
	display: inline;
}

.search__input {
	border-radius: 4px 0 0 4px;
	padding: 0.375em 0.75em;
	font-size: 1.2em;
	transition: border-color 0.15s;
}

.search__input:focus {
	border-color: rgb(128, 189, 255);
}

.search__btn {
	background-color: rgb(0, 123, 255);
}

.main__nav {
	background-color: rgb(33, 37, 41);
	color: rgb(236, 236, 236);
	width: 30%;
}

.nav__ul {
	text-decoration: none;
	list-style: none;
}

.main__breadcrumb {
	background-color: rgb(233, 236, 239);
	border-radius: 0.25em;
	padding: 1em 1.5em;
}

.card__top {
	border-radius: 0.25em 0.25em 0 0;
}

.card__bottom {
	border-radius: 0 0 0.25em 0.25em;
}

.main__card--blue {
	background-color: rgb(0, 123, 255);
}

.main__card--yellow {
	background-color: rgb(255, 193, 7);
}

.main__card--green {
	background-color: rgb(40, 167, 69);
}

.main__card--red {
	background-color: rgb(220, 53, 69);
}

.card__bottom,
.card__top {
	transition: background-color 0.3s;
}

.main__cards {
	color: rgb(236, 236, 236);
}

.main__card {
	display: inline-block;
	border-radius: 5%;
	padding: 2% 1%;
	margin: 1%;
	width: 15%;
}
